.vim/view/*
.vim/bundle/*
.vim/.netrwhist*
.atom/.apm/*
.atom/.node-gyp/*
.atom/blob-store/*
.atom/compile-cache/
.atom/storage/
.atom/packages/

# do not save vim-plug plugins
.nvim/extra_plugins/**
# i don't know what this, i think vim file navigator
.nvim/.netrwhist
 M config/fish/fish_variables
.DS_Store
__pycache__

# apps I don't care to version control
config/bashtop
config/broot
config/gitui
config/neomutt
config/pudb
config/raycast

# some tool i dunno
.luarc.json
