snippet section
	<section id="${1:name}">
		${2}
	</section>
snippet extends
	{% extends "${1:base.html}" %}
	${2}
snippet block
	{% block ${1:content} %}
		${2}
	{% endblock %}
snippet if
	{% if ${1:statement} %}
		${2}
	{% endif %}
snippet for
	{% for ${1:needle} in ${2:haystack} %}
		{{ $1 }}
		${3}
	{% endfor %}
snippet var
	{{ ${1:name} }}${2}
