"*":
  core:
    disabledPackages: [
      "linter-jscs"
    ]
    ignoredNames: [
      "build/*"
      "node_modules/*"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  "exception-reporting":
    userId: "e3524431-f198-7212-3233-a34c0077ea0f"
  "language-babel": {}
  "linter-jscs":
    displayAs: "jscs Warning"
  minimap: {}
  react: {}
  welcome:
    showOnStartup: false
