'atom-text-editor.vim-mode.command-mode':
    '\\ w': 'core:save'

'atom-text-editor':
  'cmd-k 0': 'custom:close-panes'

'atom-text-editor:not([mini])':
  'cmd-i': 'editor:auto-indent'

'atom-workspace':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
